body {
  padding: 20px;
  font-family: 'Calibri';
}

main {
  margin: 0 auto;
  text-align: center;
  max-width: 800px;
}
/* Utility classes */
.right { float: right; }
.light { float: left; }
.center { text-align: center; }
